#header-column {
    background-color: white !important;
}

.out-container {
    background-color: #EAEAEA !important;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.sigCanvas{
   border: 2px solid #0000005d;
   border-radius: 15px;
    width: 450px;
    height: 200px;
}
.out-image{
    width: 60%;
    height: 100%;
    object-fit: contain;
}

.flex-reverse-important{
    flex-direction: row-reverse !important;
}

#custom-dropdown{
    z-index: 999;
    background-color: #fff;
    position: absolute;
    top: 50px;
    left: 445px;
    padding: 0px 20px;
    text-align: center;
    border: 1px solid #ddd;

}
@media screen and (max-width: 768px) {
    .out-image{
        width: 100vw
    }
    .sigCanvas{
        width: 95vw;
        height: 200px;
    }
}